<form class="contact" [formGroup]="form" method="post" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [formControl]="name" required>
    <mat-error *ngIf="name.invalid">Please enter your name</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [formControl]="email" placeholder="email@example.com" required>
    <mat-error *ngIf="email.invalid">Please enter a valid email</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Message</mat-label>
    <textarea matInput maxlength="256" placeholder="I'm interested in..." required [formControl]="message"></textarea>
    <mat-hint align="end"> {{message.value?.length || 0}}/256</mat-hint>
    <mat-error *ngIf="message.invalid">Please enter a message</mat-error>
  </mat-form-field>
  <button class="submit" type="submit">Submit</button>
  <input class="hidden" type="text" [formControl]="honeypot" />
  <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
    <span>Thanks for the message! I'll get back to you soon!</span>
  </div>
</form>
